.filter-wrapper {
    width: 100%;
}
.filter-wrapper-container {
    background: #ffffff;
}
.filter-section {
    text-align: center;
    padding: 0 20px;
}

h2 {
    margin-top: 0;
}

h3 {
    border-bottom: 1px solid #000000;
}

@media only screen and (min-width: 700px) {
    .filter-wrapper {
        width: 25%;
    }
}