.container {
    display: block;
    background: #eeeeee;
  }

.main {
  background: #eeeeee;
  padding: 0 10px;
}

.footer {
  text-align: center;
  padding: 15px;
}

.footer span {
  font-weight: bold;
}

  @media only screen and (min-width: 700px) {
    .container {
      display: flex;
      flex-direction: row;
    }
}